.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.nav button {
  background-color: transparent;
  border: 2px solid #7c4dff;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  height: 2.5rem;
  width: 8rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  color: #7c4dff;
}

.nav button:hover {
  background-color: #7c4dff;
  color: #f3f0e9;
}

.nav p {
  font-size: 2.3rem;
  font-weight: bolder;
}

.nav p span:nth-child(1),
.nav p span:nth-child(2) {
  position: absolute;
  display: inline-block;
}

.nav p span:nth-child(1) {
  top: 1rem;
  left: 1rem;
}

.nav p span:nth-child(2) {
  top: 2rem;
  left: 5.2rem;
}

.form {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  height: 2.5rem;
  top: 30%;
}

.form div {
  display: flex;
}

.form div input {
  height: 2.5rem;
  width: 18rem;
  background-color: transparent;
  border: 2px solid #7c4dff;
  outline: none;
  font-size: 1.5em;
  color: #7c4df7;
  border-bottom-left-radius: .4rem;
  border-top-left-radius: .4rem;
  padding: 0 .5rem;
}

.form div button {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 3rem;
  border: 2px solid #7c4dff;
  background-color: #7c4dff5e;
  border-left: none;
  font-size: 1.5rem;
  border-bottom-right-radius: .4rem;
  border-top-right-radius: .4rem;
  cursor: pointer;
}

.form div button:hover {
  background-color: #7c4dff;

}