.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: max-content;
}

.nav>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Id {
  position: relative;
  color: hsla(var(--ui));
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}



.Id::after {
  content: 'Click To Copy';
  padding: 8px 13px;
  width: max-content;
  color: var(--clr);
  top: 1.9rem;
  transform: translateX(-50%) scale(0);
  border-radius: .3rem;
}

.Id::after,
.Id::before {
  background-color: hsl(var(--ui));
  left: 50%;
  position: absolute;
  transition: transform 50ms;
  transform-origin: top;
}

.Id::before {
  content: '';
  height: 14px;
  width: 14px;
  transform: rotate(45deg) translateX(-50%) scale(0);
  top: 1.95rem;
}

.Id:hover::before {
  transform: rotate(45deg) translateX(-50%) scale(1);
}

.Id:hover::after {
  transform: translateX(-50%) scale(1);
}

.nav>div>button {
  background-color: transparent;
  border: 1px solid hsl(var(--ui));
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  color: hsl(var(--ui));
}

.nav>div>button:hover {
  background-color: hsl(var(--ui));
  color: var(--clr);
}

.nav p {
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav p span:nth-child(1),
.nav p span:nth-child(2) {
  position: absolute;
  display: inline-block;
  color: hsl(var(--ui));
  font-family: sans-serif;
}

.nav p span:nth-child(1) {
  top: 1rem;
  left: 1rem;
}

.nav p span:nth-child(2) {
  top: 1.65rem;
  left: 4rem;
}

.container {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  height: 2.5rem;
  top: 20%;
  height: 75%;
  padding-bottom: 1rem;
}

.form div {
  display: flex;
}


.form div input {
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid hsl(var(--ui));
  border-right: none;
  outline: none;
  width: 100%;
  font-size: 1.5em;
  color: hsl(var(--ui) /.8);
  padding: 0 .5rem;
}

.form div button {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 3rem;
  border: 2px solid hsl(var(--ui));
  background-color: hsla(var(--ui));
  border-left: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 150ms;
}

.form div button:hover {
  background-color: hsl(var(--ui)/.8);
}

.textLabel {
  position: absolute;
  top: -1.7rem;
  margin-left: .2rem;
  z-index: 10;
  font-size: 1.3rem;
  word-spacing: -5px;
  font-weight: bolder;
  Color: hsl(var(--ui));
}

.copiedContainer {
  border: 2px solid transparent;
  border-top-color: hsl(var(--ui) / .4);
  padding: 10px;
  padding-top: 1.5rem;
  margin-top: 1rem;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.copiedContainer::-webkit-scrollbar {
  display: none;
}


.copiedTextContainer {
  display: flex;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-right-color: hsl(var(--ui));
  margin: 1rem 0;
  border-left-color: hsl(var(--ui));
  background-color: hsl(var(--ui) / .1);
  transition: background-color 150ms;
}

.copiedTextContainer:hover {
  background-color: hsl(var(--ui) / .3);
}

.copiedTextContainer button {
  margin-left: auto;
  height: 2.5rem;
  padding: 0 .7rem;
  text-transform: capitalize;
  border: none;
  background-color: hsl(var(--ui)/.5);
  cursor: pointer;
  transition: background-color 220ms, color 220ms;
  color: hsl(var(--hover));
  font-size: 1.2rem;
  font-weight: bold;
}

.copiedTextContainer button:hover {
  background-color: hsl(var(--ui));
  color: var(--clr);
}