.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Id {
  position: relative;
  color: rgb(90, 56, 241);
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}



.Id::after {
  content: 'Click To Copy Id!';
  padding: 8px 13px;
  width: max-content;
  color: whitesmoke;
  top: 1.9rem;
  transform: translateX(-50%) scale(0);
  border-radius: .3rem;
}

.Id::after,
.Id::before {
  background-color: #7c4dff;
  left: 50%;
  position: absolute;
  transition: transform 50ms;
  transform-origin: top;
}

.Id::before {
  content: '';
  height: 14px;
  width: 14px;
  transform: rotate(45deg) translateX(-50%) scale(0);
  top: 1.95rem;
}

.Id:hover::before {
  transform: rotate(45deg) translateX(-50%) scale(1);
}

.Id:hover::after {
  transform: translateX(-50%) scale(1);
}

.nav>div>button {
  background-color: transparent;
  border: 1px solid #7c4dff;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  color: #7c4dff;
}

.nav>div>button:hover {
  background-color: #7c4dff;
  color: #f3f0e9;
}

.nav p {
  font-size: 2.3rem;
  font-weight: bolder;
}

.nav p span:nth-child(1),
.nav p span:nth-child(2) {
  position: absolute;
  display: inline-block;
}

.nav p span:nth-child(1) {
  top: 1rem;
  left: 1rem;
}

.nav p span:nth-child(2) {
  top: 2rem;
  left: 5.2rem;
}

.container {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  height: 2.5rem;
  top: 25%;
}

.form div {
  display: flex;
}


.form div input {
  height: 2.5rem;
  width: 18rem;
  background-color: transparent;
  border: 2px solid #7c4dff;
  border-right: none;
  outline: none;
  font-size: 1.5em;
  color: #7c4df7;
  padding: 0 .5rem;
}

.form div button {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 3rem;
  border: 2px solid #7c4dff;
  background-color: #7c4dff5e;
  border-left: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 150ms;
}

.form div button:hover {
  background-color: #7c4dff;
}

.textLabel {
  position: absolute;
  top: -1.3rem;
  margin-left: .5rem;
  color: rgb(235, 47, 0);
}

.copiedContainer {
  border: 2px solid transparent;
  border-top-color: #a07bfd3a;
  padding: 10px;
  padding-top: 1.5rem;
  margin-top: 1rem;
}

.copiedTextContainer {
  display: flex;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-top-color: #7c4df7;
  margin: 0;
}

.copiedTextContainer:hover {
  background-color: #7c4dff1c;
}

.copiedTextContainer:last-child {
  border-bottom-color: #7c4df7;
}

.copiedTextContainer button {
  margin-left: auto;
  height: 2.5rem;
  width: 3rem;
  border: none;
  background-color: #7c4dff5e;
  cursor: pointer;
  transition: background-color 150ms;
}

.copiedTextContainer button:hover {
  background-color: #7c4df7;
}